:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-blue: hsl(228, 45%, 44%);
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);
    --clr-brown: hsl(14, 45%, 36%);
    --clr-rose-50: hsl(330, 100%, 98%);
    --clr-rose-800: hsl(332, 51%, 32%);

    --spacing-50: 0.5rem;
    --spacing-100: 1rem;
    --spacing-150: 1.5rem;
    --spacing-200: 2rem;

    --text-preset-1-desktop: normal normal 400 2.5rem/1 "Young Serif", serif;
    --text-preset-1-mobile: normal normal 400 2.25rem/1 "Young Serif", serif;
    --text-preset-2: normal normal 400 1.75rem/1 "Young Serif", serif;
    --text-preset-3: normal normal 600 1.25rem/1 "Outfit", sans-serif;
    --text-preset-4: normal normal 400 1rem/1.5 "Outfit", sans-serif;    
    --text-preset-4-bold: normal normal 700 1rem/1.5 "Outfit", sans-serif;    
}

/* default resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul, ol {
    margin-inline-start: var(--spacing-150);
}
ul>li, ol>li {
    padding-inline-start: var(--spacing-100);
}
ul>li:not(:last-child), ol>li:not(:last-child) {
    margin-block-end: var(--spacing-50);
}
ul>li::marker, ol>li::marker {
    font-weight: bold;
}


/* site layout */
.site-wrapper {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    min-height: 100vh;
    background-color: var(--clr-stone-100);
    align-items: center;
}
.site-wrapper > footer {
    flex: 0 0 auto;
    height: 2rem;
    display: grid;
    place-items: center;
    font-family: "Outfit", sans-serif;
}

/* typography - mobile */
.recipe__heading {
    font: var(--text-preset-1-mobile);
    color: var(--clr-stone-900);
}
p, li, td {
    font: var(--text-preset-4);
    color: var(--clr-stone-600);
}
strong {
    font: var(--text-preset-4-bold);
}
.section__heading {
    font: var(--text-preset-2);
    color: var(--clr-brown);
}
.preptime__heading {
    font: var(--text-preset-3);
    color: var(--clr-rose-800);
}

/* typography - desktop */
@media (min-width: 450px) {
    .recipe__heading {
        font: var(--text-preset-1-desktop);
    }
}


/* mobile first layout design */
.recipe__img {
    order: -1;
    margin: calc(-1 * var(--spacing-200));
    margin-block-end: var(--spacing-200);
    border-radius: 0;
}

main.recipe {
    display: grid;
    padding: var(--spacing-200);
    background-color: var(--clr-white);
}
.recipe__intro {
    display: grid;
    gap: var(--spacing-150);
}

.recipe__preptime li::marker {
    color: var(--clr-rose-800)
}
.preptime__heading {
    margin-block-end: var(--spacing-100);
}
.recipe__preptime {
    background: var(--clr-rose-50);
    padding: var(--spacing-150);
    margin-block-start: var(--spacing-150);
    border-radius: 0.75rem;
}

/* section layout */
section:not(:first-of-type) {
    padding-block: var(--spacing-200);
}
section:last-of-type {
    padding-block-end: 0;
}
section.section:not(:last-of-type) {
    border-block-end: 1px solid var(--clr-stone-150);
}
section.section li::marker {
    color: var(--clr-brown);
}
.section__heading {
    margin-block-end: var(--spacing-150);
}

.nutrition__table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin-block-start: calc(0.5 * var(--spacing-150));
}
.nutrition__table td {
    padding-block: calc(0.5 * var(--spacing-150));
}
.nutrition__table td:last-child {
    color: var(--clr-brown)
}
.nutrition__table td:first-child {
    padding-inline-start: var(--spacing-200);
    width: 50%;
}
.nutrition__table tr:not(:last-child) td {
    border-block-end: 1px solid var(--clr-stone-150);
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: var(--clr-blue); }

/* desktop layout design */
@media (min-width: 450px) {
    .recipe__img {
        border-radius: 0.75rem;
        overflow: hidden;
        margin-block-start: 0;
        margin-inline: 0;
    }
    main.recipe {
        max-width: 736px;
        margin: 128px 2rem;
        padding: 2.5rem;
        border-radius: 1.5rem;
    }
}
